<meta charset="UTF-8">
<title>CO2 Pages</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<style>
  body {
    padding-top: 50px;
  }
  .finalTable th, td {
    width:20%;
  }
  .finalTable th{
    font-size: 91%;
  }
  #settings_drop_indicator{
    border: 1px dotted gray;
    padding-inline: 2px;
  }
  #settings_container{
    display:none;
  }
  #cache_row{
    border-bottom: 1px solid gray;
  }
  .results_tail{
    display:none;
  }
  
.arrow {
 cursor: pointer;
}



</style>