<nav class="navbar navbar-light bg-transparent">
  <a style="font-weight: bold" class="navbar-brand" href="/">
    <img src="/images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Pages
  </a>
</nav>